<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="groupNameMappings" type="GogsActiveDirectorySync.GroupMappingConfiguration,GogsActiveDirectorySync"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="SyncIntervalHours" value="22" />
    <!--<add key="MinimumTimeOfDay" value="22:00" />-->
    <!--<add key="MaximumTimeOfDay" value="4:00" />-->
    <!--<add key="ActiveDirectoryGroupContainer" value="OU=CONTAINER,DC=DOMAIN_NAME,DC=com" />-->
    <add key="GogsApiUrl" value="https://try.gogs.io/api/v1/" />
    <add key="GogsLdapAuthenticationSourceId" value="1" />
    <add key="GogsUsername" value="username" />
    <add key="GogsPassword" value="password" />
    <!--<add key="GogsAccessToken" value="222c00e22f2e20ec202d6ffebbb02cbc22dc2ee2" />-->
    <add key="EnableeGogsAccessTokenGeneration" value="False" />
    <add key="EnableGogsUserCreation" value="False" />
    <add key="EnableGogsOrgCreation" value="False" />
    <add key="EnableGogsTeamCreation" value="False" />
    <add key="IsDryRun" value="False" />
    <!--<add key="ExcludedUsernamesCsv" value="test,temp" />-->
    <!--<add key="RequiredActiveDirectoryGroupName" value="Development" />-->
  </appSettings>
  <groupNameMappings>
    <mapping activeDirectoryName="Development" gogsOrgName="Development" gogsTeamName="ActiveDirectory" />
    <mapping activeDirectoryName="DotNet" gogsOrgName="DotNet" gogsTeamName="ActiveDirectory" />
  </groupNameMappings>
</configuration>