<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" 
      autoReload="false" 
      throwExceptions="false">
  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}/Logs/log.txt"
            layout="${uppercase:${level}} ${longdate} ${message} ${exception:format=ToString}"
            archiveFileName="${basedir}/Logs/log.{###}.txt"
            archiveAboveSize="102400"
            archiveNumbering="Sequence"
            maxArchiveFiles="99" />
    <target xsi:type="Console"
            name="consoleTarget"
            layout="${date:format=HH\:MM\:ss} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>